<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Własny filtr</title>
  </head>
  <body ng-controller="myContr">
      {{fname}}
      <p>
        <input type="text" ng-model="lname" ng-keyup="click()">
        {{lname}} {{Lname}}
      </p>
      <p>
        Komunikat 1: {{message}} <br>
        Komunikat 2:
        <input type="text" ng-model="message2"> <br>
        <button ng-click="rep()">zamień</button><br>
        {{message3}} <br>
        {{message2 | myCustomF : 'aa' : 'bb'}}



      </p>

  </body>
</html>
